.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todos {
  width: 200px;
  max-width: 95%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.create-todo {
  display: flex;
  justify-content: center;
}

.todos-list {
  padding: 0;
  margin: 0;
}

.todo-list__item {
  list-style: none;
  display: flex;
}

.todo-list__item-text {
  flex: 1;
}

.todo-list__item--completed {
  color: green;
}

.todo-list__complete-button {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  margin-right: 8px;
  border: 2px solid rgb(88, 88, 88);
}
